.friendsList{
    padding: 0;
    margin-top: 50px;

}

.friendsItem{
    width: 250px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%),
        0 6px 20px 0 rgb(0 0 0 / 19%);
    overflow: hidden;
    background-color: #f6f6f6;

    display: flex;
    align-items: center;
    padding: 5px;
}

.status{
    display: block;
    height: 0px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%;
}
.isOnline{
    background-color: green;
}
.isOfline{
    background-color: tomato;
}
.avatar{
    margin-right: 10px;
}
.name{
    margin: 0;
}