.statistics {
  width: 250px;
  height: auto;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  padding-top: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  overflow: hidden;
  background-color: #f6f6f6;
}
.title {
  margin: 0;
  margin-bottom: 20px;
}
.list {
  display: flex;
  justify-content: space-around;

  list-style: none;

  padding: 0;
  margin: 0;
  background-color: #c5c5c5;
}
.item {
  display: flex;
  flex-direction: column;
}
