.table {
  width: 250px;
  height: auto;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-spacing: 1px;
  border-radius: 8px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  overflow: hidden;
  background-color: #f6f6f6;
}
.head {
  background-color: aqua;
}
.body tr:nth-child(odd) {
  background-color: #f6f6f6;
}

.body tr:nth-child(even) {
  background-color: #c5c5c5;
}
td {
  height: 30px;
}
